---
layout: base
---

  {%- if page.title -%}
    <h1 class="pageTitle">{{ page.title }}</h1>
  {%- endif -%}
  
  {{ content }}

  <ul class="postListing">
    {%- for post in site.gedichte -%}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>