---
layout: base
---
{{ content }}

{% assign random = site.time | date: "%s%N" | modulo: site.gedichte.size %}

<article class="poem" itemprop="articleBody">
  <button id="randomPoemBtn">Show Random Post</button>
  <div id="randomPoem">{{ site.gedichte[random].excerpt }}</div>
  <header class="postHeader">
    <span class="author">{{ site.gedichte[random].author }}</span>
    <a href="{{ site.gedichte[random].url }}" class="readMoreLink">{{ site.gedichte[random].title }}</a>
  </header>
</article>