---
layout: base
---
{{ site.baseurl }} xx
{{ content }}

{% assign random = site.time | date: "%s%N" | modulo: site.gedichte.size %}

<article class="poem" itemprop="articleBody">
  {{ site.gedichte[random].excerpt }}
  <header class="postHeader">
    <span class="author">{{ site.gedichte[random].author }}</span>
    <a href="{{ site.gedichte[random].url }}">{{ site.gedichte[random].title }}</a>
  </header>
</article>