---
layout: base
---
{{ content }}

{% assign random = site.time | date: "%s%N" | modulo: site.gedichte.size %}

<article class="poem" itemprop="articleBody">
  <div id="randomPoem" class="poem">{{ site.gedichte[random].content }}</div>
  <a href="{{ site.gedichte[random].url }}" class="readMoreLink">{{ site.gedichte[random].title }}</a>
</article>

<script>
  const dataUrl = "{{ site.baseurl }}/poem-list.json";
  
  document.addEventListener('DOMContentLoaded', function() {
  const button = document.getElementById('randomPoemBtn');
  const randomPoemDiv = document.getElementById('randomPoem');
  const readMoreLink = document.querySelector('.readMoreLink');

  if (button && randomPoemDiv && readMoreLink) {
    button.addEventListener('click', function() {
      fetch(dataUrl)
        .then(response => response.json())
        .then(data => {
          // Get a random poem
          const randomIndex = Math.floor(Math.random() * data.gedichte.length);
          const randomPoem = data.gedichte[randomIndex];

          // Update HTML elements
          randomPoemDiv.innerHTML = `${randomPoem.excerpt}`;
          readMoreLink.href = randomPoem.url;
          readMoreLink.textContent = randomPoem.title;
        })
        .catch(error => console.error('Error fetching JSON:', error));
    });
  }
});

</script>
